@import "variables";

.user {
  background: linear-gradient(45deg, #4fc1e8, #49ceb5);

  background-size: cover;
  height: 100vh;

  .container {
    .form_user {
      margin: 40px auto;
      width: 300px;

      .field {
        .input {
          border-radius: 5px;
          outline: none;
          width: 300px;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  .icon {
    color: white;
  }
}

.form-container {
  margin: 10px auto;
  width: 400px;

  .form {
    .field {
      #user_avatar {
      }

      #user_name,
      #user_last_name,
      #user_email,
      #user_password,
      #user_password_confirmation,
      #user_current_password {
        border-radius: 5px;
        width: 400px;
      }
    }
    .actions {
      margin: 20px 0;

      .btn {
        width: -moz-available;
      }
    }
  }
}
