// Place all the styles related to the vuelos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@font-face {
  font-family: "Rubik", sans-serif;
  src: asset-url("Rubik-regular.ttf") format("truetype");
}

body {
  font-family: "Rubik", sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;

  .header-logo {
    align-items: center;
    display: flex;
    padding-left: 1.5rem;
    font-size: 1.3rem;

    i,
    a {
      color: $color-puple;
      font-weight: 600px;
    }
  }
  .header-sesion {
    background: #eeeeee;
    border-radius: 0 0 0 30px;
    justify-content: end;
    padding: 0.5rem 1rem;
    width: 600px;

    .nav-item {
      padding: 0 20px;

      i,
      a {
        color: #757575;
      }
    }
  }
}

.header-navigation {
  padding: 0 40px;

  .header-products {
    width: 100%;

    .header-products--list {
      display: flex;
      justify-content: space-between;
      list-style: none;
      margin: 20px auto;
      padding-left: 0;

      .header-products--item {
        display: inherit;
        flex-direction: column;

        &:hover {
          i,
          a {
            color: $color-puple;
          }
        }
        i {
          color: #686464;
          text-align: center;
        }

        a {
          color: #686464;
        }
      }
    }
  }
}

.home-container {
  background: $color-purple-dark;
  padding: 52px 0;

  .searchbox {
    background: #ffffff;
    border-radius: $border-radius-default;

    .box-row {
      margin: 0 0rem;

      .box-row--inputs {
        .row {
          width: inherit;

          .box-row--input {
            input {
              border-radius: $border-radius-default;
              width: inherit;
            }
            input::placeholder {
              font-style: italic;
              color: $color-gray-2;
            }
          }
        }
      }

      .box-row--passenger {
        .box-row--container {
          .box-row--input {
            input {
              border-radius: $border-radius-default;
              width: 300px;
            }
          }
        }
      }

      .box-row--button {
        display: flex;
        align-items: end;

        .box-row--button--container {
          align-items: center;
          display: inherit;

          input {
            background: $color-puple;
            border-radius: $border-radius-default;
            height: 40px;
            padding: 5px 20px;
            color: white;
          }
        }
      }
    }
  }
}

.show-flights {
  background: $color-gray-4;
  border-radius: $border-radius-default;

  .show-flights--group-1 {
    .show-flights__departure {
      display: flex;
      align-items: center;
    }
    .show-flights__destination {
      display: flex;
      align-items: center;
    }
    .to {
      display: flex;
      align-items: center;
    }
  }
  .show-flights--group-2 {
    align-items: center;

    .show-flights--selection {
      .btn-default {
        background: $color-puple;
        border-radius: $border-radius-default;
        color: white;
      }
    }
  }
}

.btn-default {
  background: $color-puple;
  border-radius: $border-radius-default;
  color: white;
}

.show {
  background: $color-gray-4;
  height: calc(100vh - 128px);
  padding: 50px 0;

  .card.card-vuelo {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: 40px 1fr 1fr;
    grid-template-areas:
      "title selection"
      "departure selection"
      "destination selection";

    .card-body--division {
      border: 1px solid rgba(0, 0, 0, 0.125);
    }
    .card-body--division.title {
      grid-area: title;
      padding: 5px 0;
      text-align: center;
    }
    .card-body--division.departure {
      display: grid;
      grid-area: departure;
      grid-template-columns: 100px 1fr;

      .box {
        align-items: center;
        background: $color-gray-4;
        margin: 0;
        p {
          margin-left: 10px;
          margin-bottom: 0;
        }
        i {
          margin-left: 10px;
        }
      }
      .card-title {
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
      }
    }
    .card-body--division.destination {
      display: grid;
      grid-area: destination;
      grid-template-columns: 100px 1fr;

      .box {
        align-items: center;
        background: $color-gray-4;
        margin: 0;
        p {
          margin-left: 10px;
          margin-bottom: 0;
        }
        i {
          margin-left: 10px;
        }
      }
      .card-title {
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
      }
    }
    .card-body--division.selection {
      grid-area: selection;
      padding: 15px;

      .price_main {
        .price_main--title,
        .price_main--amount {
          span {
            font-weight: 600;
            font-size: 0.8rem;
          }
        }
      }

      .price_details {
        .price_details--items {
          .price_details--item {
            .price_details--subitems {
              display: grid;
              grid-template-columns: 1fr 1fr;
            }
            .price_details--subitems.final {
              font-weight: 600;
            }
          }
        }
      }

      .price_button {
        .btn.btn-lg {
          background: $color-puple;
          border-radius: $border-radius-default;
          height: 40px;
          padding: 5px 20px;
          color: white;
        }
      }
    }
  }
}

.form_create-fly {
  margin: 30px auto;
  width: 400px;

  .form {
    display: flex;
    flex-direction: column;

    .form--departure,
    .form--destination,
    .form--passenger,
    .form--price {
      width: inherit;

      .input {
        border-radius: 5px;
        width: 400px;
      }
    }
  }
}

.Promociones {
  .promociones__container {
    .card-admin {
      margin: 0 auto;

      .card-body {
        color: #686464;

        .card-title {
          .text_package {
            font-weight: bold;
          }
        }
      }
      .card-body.field-price {
        color: #686464;

        .field-price {
          display: grid;

          .text-price {
            font-weight: bold;
          }

          .value_price {
            font-size: 1.6rem;
          }
        }
      }
    }

    .link-card {
      margin: 0 10px;
      transform: scale(1);
      transition: all 0.5s ease-in-out;

      &:hover {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        text-decoration: none;
        transform: scale(1.03);
      }

      .card {
        height: 461px;

        .card-body {
          .card-title {
            color: #686464;

            .text_package {
              font-weight: bold;
            }
          }
          .card-body {
            color: #686464;
          }
        }
        .card-body.field-price {
          color: #686464;
          border-top: 1px solid rgba(0, 0, 0, 0.125);
          display: grid;

          .text_price {
            font-weight: bold;
          }
          .value_price {
            font-size: 1.6rem;
            text-align: right;
          }
        }
      }
    }
  }
}

.form_create-promo {
  margin: 10px auto;
  width: 400px;

  .form {
    text-align: center;

    .input {
      border-radius: 5px;
      width: 400px;
    }
  }
}

.btn-animation {
  transition: all 0.3s ease-in-out;
  transform: scale(1);

  &:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
  }
}
