// Place all the styles related to the vuelos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color-black: #000;
$color-gray-1: #444;
$color-gray-2: #666;
$color-gray-3: #888;
$color-gray-4: #eee;

$color-puple: #4300d2;
$color-purple-dark: #270570;

$border-radius-default: 5px;

.header-container {
  display: flex;
  justify-content: space-between;

  .header-logo {
    align-items: center;
    display: flex;
    padding-left: 1.5rem;
    font-size: 1.3rem;

    i,
    a {
      color: $color-puple;
      font-weight: 600px;
    }
  }
  .header-sesion {
    background: #eeeeee;
    border-radius: 0 0 0 30px;
    justify-content: end;
    padding: 0.5rem 1rem;
    width: 400px;

    .nav-item {
      padding: 0 20px;

      i,
      a {
        color: #757575;
      }
    }
  }
}

.header-navigation {
  padding: 0 40px;

  .header-products {
    width: 100%;

    .header-products--list {
      display: flex;
      justify-content: space-between;
      list-style: none;
      margin: 20px auto;
      padding-left: 0;

      .header-products--item {
        display: inherit;
        flex-direction: column;

        i {
          color: #686464;
          text-align: center;

          &:hover {
            color: $color-puple;
          }
        }

        a {
          color: #686464;
          &:hover {
            color: $color-puple;
          }
        }
      }
    }
  }
}

.home-container {
  background: $color-purple-dark;
  padding: 52px 0;

  .searchbox {
    background: #ffffff;
    border-radius: $border-radius-default;

    .box-row {
      margin: 0 0rem;

      .box-row--inputs {
        .box-row--input {
          input {
            border-radius: $border-radius-default;
          }
          input::placeholder {
            font-style: italic;
            color: $color-gray-2;
          }
        }
      }

      .box-row--passenger {
        .box-row--container {
          .box-row--input {
            input {
              border-radius: $border-radius-default;
            }
          }
        }
      }

      .box-row--button {
        display: flex;
        align-items: end;

        .box-row--button--container {
          align-items: center;
          display: inherit;

          input {
            background: $color-puple;
            border-radius: $border-radius-default;
            height: 40px;
            padding: 5px 20px;
            color: white;
          }
        }
      }
    }
  }
}

.show-flights {
  background: $color-gray-4;
  border-radius: $border-radius-default;

  .show-flights--group-1 {
    .show-flights__departure {
      display: flex;
      align-items: center;
    }
    .show-flights__destination {
      display: flex;
      align-items: center;
    }
    .to {
      display: flex;
      align-items: center;
    }
  }
  .show-flights--group-2 {
    align-items: center;

    .show-flights--selection {
      a {
        background: $color-puple;
        border-radius: $border-radius-default;
        color: white;
      }
    }
  }
}

.show {
  background: $color-gray-4;
  height: calc(100vh - 128px);
  padding: 50px 0;

  .card.card-vuelo {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: 40px 1fr 1fr;
    grid-template-areas:
      "title selection"
      "departure selection"
      "destination selection";

    .card-body--division {
      border: 1px solid rgba(0, 0, 0, 0.125);
    }
    .card-body--division.title {
      grid-area: title;
      padding: 5px 0;
      text-align: center;
    }
    .card-body--division.departure {
      display: grid;
      grid-area: departure;
      grid-template-columns: 100px 1fr;

      .box {
        align-items: center;
        background: $color-gray-4;
        margin: 0;
        p {
          margin-left: 10px;
          margin-bottom: 0;
        }
        i {
          margin-left: 10px;
        }
      }
      .card-title {
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
      }
    }
    .card-body--division.destination {
      display: grid;
      grid-area: destination;
      grid-template-columns: 100px 1fr;

      .box {
        align-items: center;
        background: $color-gray-4;
        margin: 0;
        p {
          margin-left: 10px;
          margin-bottom: 0;
        }
        i {
          margin-left: 10px;
        }
      }
      .card-title {
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
      }
    }
    .card-body--division.selection {
      grid-area: selection;
      padding: 15px;

      .price_main {
        .price_main--title,
        .price_main--amount {
          span {
            font-weight: 600;
            font-size: 0.8rem;
          }
        }
      }

      .price_details {
        .price_details--items {
          .price_details--item {
            .price_details--subitems {
              display: grid;
              grid-template-columns: 1fr 1fr;
            }
            .price_details--subitems.final {
              font-weight: 600;
            }
          }
        }
      }

      .price_button {
        .btn.btn-lg {
          background: $color-puple;
          border-radius: $border-radius-default;
          height: 40px;
          padding: 5px 20px;
          color: white;
        }
      }
    }
  }
}
