<div class="footer p-5">
  <div class="container">

    <div class="contacto">
      <div class="redes">
          <%=icon('fab', 'facebook-square m-2')%>
          <%=icon('fab', 'twitter m-2')%>
          <%=icon('fab', 'instagram m-2')%>
          <%=icon('fab', 'youtube m-2')%>
      </div>
      <div class="numeros">
        <div class="numeros_1">
          <span class="bold">Para ventas</span>
          01-8000-0000
        </div>
        <div class="numeros_2">
          <span class="bold">Posventa</span>
          +57 0000 00 00
        </div>
      </div>
    </div>
    <hr/>

    <div class="footer_description">
      <div class="nosotros">
        <span class="header">Somos despegando</span>
        <ul class= "list">
          <li class="list_item">Nuestro telefono</li>
          <li class="list_item">Ven a trabajar a despegando</li>
          <li class="list_item">Relacion con inversores</li>
          <li class="list_item">Sobre despegando</li>
        </ul>
      </div>
      <div class="terminos">
        <span class="header">Confianza en tus compras</span>
        <ul class= "list">
          <li class="list_item">Terminos y condiciones</li>
          <li class="list_item">Politica de privacidad</li>
        </ul>
      </div>
      <div class="negocio">
        <span class="header">Potencia tu negocio</span>
        <ul class= "list">
          <li class="list_item">Agrega tu flota</li>
          <li class="list_item">Programa de Agencias Afiliadas</li>
          <li class="list_item">Se parte de la red Afiliados</li>
          <li class="list_item">¿Viajas por negocio?</li>
        </ul>
      </div>
    </div>
  </div>
</div>